<!doctype html>
<html lang="en" class="h-100">
  <head>
    <%- 
    include('./component/meta', {
      appTitle: appTitle, 
      appDescription: appDescription, 
      ogTitle: ogTitle, 
      ogDescription: ogDescription, 
      ogUrl: ogUrl, 
      ogImage: ogImage
    }); 
    -%>
  </head>
  <body class="d-flex text-white bg-dark" style="min-height: 100%;">
    
    <div class="container d-flex w-100 p-3 mx-auto flex-column" style="min-height: 100%; max-width: 72em;">
      <%- include('./component/header'); -%>
      <main class="px-3" style="min-height: 100%;">
        <h1 class="superbig upper text-center"><%= collection_name %></h1>
        <form class="search text-center">
          <fieldset>
            <input class="search-text-input" type="text" name="search" placeholder="Search by ID..." value="<%= search %>">
            <button type="submit" aria-label="Search">
              <svg width="24" height="24" viewBox="0 0 512 512" class="icon">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </fieldset>
          <footer>
            <button type="submit">Search</button>
          </footer>
          <a class="trait-fileter-btn btn btn-primary" data-bs-toggle="offcanvas" href="#traitFilterOffcanvas" role="button" aria-controls="offcanvasExample">
            Trait Filter (<span id="trait-fileter-selected-num"><%= selectedTraits.length %></span>)
          </a>
          <div>
            <select id="sorting-select" class="form-select" name="order_by">
              <option value="rarity" <% if (orderBy=='rarity') { %> selected <% } %>>Sort By Rarity</option>
              <option value="id" <% if (orderBy=='id') { %> selected <% } %>>Sort By ID</option>
            </select>
          </div>
          <div>
            <div class="form-check form-switch" style="width: 12rem; margin-left: auto; margin-right: auto; font-size: 1rem; line-height: 30px; margin-top: 15px;">
              <input style="height: 25px; width: 40px;" class="form-check-input" type="checkbox" id="traitNormalization" <% if (useTraitNormalization == '1') { %> checked <% } %> >
              <label class="form-check-label" for="traitNormalization">Trait Normalization</label>
            </div>
          </div>
        </form>
        <div class="trait-fileter-offcanvas offcanvas offcanvas-start" tabindex="-1" id="traitFilterOffcanvas" aria-labelledby="traitFilterOffcanvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="traitFilterOffcanvasLabel">Select Traits</h5>
            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <%
            let currentTriat = '';
            allTraits.forEach(function(trait) { 
            %>
              <% 
              if (currentTriat != trait.trait_type) {
                if (currentTriat != '') {
                  %>
                  </select>
                  <%
                }
              %>
                <h4><%= trait.trait_type %></h4>
                <select name="trait_select_<%= trait.trait_type_id %>" class="trait-select form-select mb-4">
                  <option value="<%= trait.trait_type_id %>_All">All (<%= allTraitTypesData[trait.trait_type] %>)</option>
                  <option value="<%= trait.trait_type_id %>_None" <% if (selectedTraits.includes(trait.trait_type_id+'_None')) { %> selected <% } %> >None (<%= (totalSupply - allTraitTypesData[trait.trait_type]) %>)</option>
                  <option value="<%= trait.trait_type_id %>_<%= trait.trait_detail_type %>" <% if (selectedTraits.includes(trait.trait_type_id+'_'+trait.trait_detail_type)) { %> selected <% } %> ><%= trait.trait_detail_type %> (<%= trait.punk_count %>)</option>
              <% 
                currentTriat = trait.trait_type;
              } else {
              %>
                  <option value="<%= trait.trait_type_id %>_<%= trait.trait_detail_type %>" <% if (selectedTraits.includes(trait.trait_type_id+'_'+trait.trait_detail_type)) { %> selected <% } %>><%= trait.trait_detail_type %> (<%= trait.punk_count %>)</option>
              <%
              }
              %>
            <%
            });
            %>
            <% if (!_.isEmpty(allTraits)) { %>
              </select>
            <% } %>
          </div>
        </div>
        <h3 class="mb-4">Total: <%= totalPunkCount %></h3>
        <p style="line-height: var(--font-size-lg);">
          Rankin Method: Rarity Score without Additional Weighting, exmple: <a style="text-decoration: none; color: var(--primary);" href="https://rarity.tools/boredapeyachtclub?method=score&normalize=off&uniqueness=off&weights=off&propWeights=%24Trait%2520Count%3A8%26Theme%2520Match%25201%3A0.075%26Theme%2520Match%25202%3A0.075" target="_blank">BAYC on rarity.tools</a>
        </p>
        <div class="row punks">
          <% if (!_.isEmpty(punks)) { %>
            <% punks.forEach(function(punk) { %>
              <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-5" style="padding-left: 30px; padding-right: 30px;">
                <%- include('./component/punk', {punk: punk, trait_normalization: useTraitNormalization}); -%>
              </div>
            <% }); %>
          <% } else { %>
          <h1 class="text-center">
            There's no result.
          </h1>
          <% } %>
        </div>
        <%- 
        include('./component/paginate', {
          totalPage: totalPage, 
          page: page, 
          path: '/?search='+search+'&traits='+traits+'&trait_normalization='+useTraitNormalization+'&order_by='+orderBy
        }); 
        -%>
      </main>
      <%- include('./component/footer'); -%>
    </div>
    <script>
      window.addEventListener('DOMContentLoaded', () => {

        const traitSelects = document.querySelectorAll('.trait-select');

        function getSelectedTraits() {
          let selectedTraits = [];
          traitSelects.forEach(function(traitSelect) {
            if (!traitSelect.value.includes('_All')) {
              selectedTraits.push(traitSelect.value);
            }
          });
          return selectedTraits;
        }

        const sortingSelect = document.querySelector('#sorting-select');
      
        if (sortingSelect) {
          sortingSelect.addEventListener('change', async (event) => {
            const sorting = event.target.value;
            window.location = '/?search=<%= search %>&traits=<%= traits %>&trait_normalization=<%= useTraitNormalization %>&order_by='+sorting;
          });
        }

        const traitNormalizationSwitch = document.querySelector('#traitNormalization');
        if (traitNormalizationSwitch) {
          traitNormalizationSwitch.addEventListener('change', async (event) => {
            const useTraitNormalization = event.target.checked;
            if (useTraitNormalization) {
              window.location = '/?search=<%= search %>&traits=<%= traits %>&trait_normalization=1&order_by=<%= orderBy %>';
            } else {
              window.location = '/?search=<%= search %>&traits=<%= traits %>&trait_normalization=0&order_by=<%= orderBy %>';
            }
          });
        }

        let isChanged = false;
        if (traitSelects) {
          traitSelects.forEach(function(traitSelect) {
            traitSelect.addEventListener('change', async (event) => {
              const traitSelectedValue = event.target.value;
              let selectedNum = 0;
              traitSelects.forEach(function(traitSelect) {
                if (!traitSelect.value.includes('_All')) {
                  selectedNum = selectedNum + 1;  
                }
              });
              document.getElementById("trait-fileter-selected-num").innerHTML = selectedNum;
              isChanged = true;
            });
          }); 
        }

        const traitFilterOffcanvas = document.getElementById('traitFilterOffcanvas')
        traitFilterOffcanvas.addEventListener('hidden.bs.offcanvas', function () {
          if (traitSelects && isChanged) {
            let selectedTraits = getSelectedTraits();
            if (selectedTraits.length != 0) {
              window.location = '/?search=<%= search %>&traits='+selectedTraits.join(',')+'&trait_normalization=<%= useTraitNormalization %>&order_by=<%= orderBy %>';
            } else {
              window.location = '/?search=<%= search %>&trait_normalization=<%= useTraitNormalization %>&order_by=<%= orderBy %>';
            }
          }
        });
      });
    </script> 
  </body>
</html>