<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= appDescription %> | <%= collection_name %> | NFT Rarity Tool">
<meta name="author" content="Fukuball">
<title><%= appTitle %> | <%= collection_name %> | NFT Rarity Tool</title>

<!-- Google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&amp;display=swap" rel="stylesheet" media="all" onload="this.media='all'">

<!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel='stylesheet' href='/stylesheets/style.css?1' />

<!-- Favicons -->
<link href="/images/profile.png" rel="shortcut icon" type="image/png">
<link href="/images/profile@32w.png" rel="icon" type="image/png">
<link href="/images/profile.png" rel="apple-touch-icon">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@fukuball" />
<meta property="og:url" content="<%= ogUrl %>" />
<meta property="og:title" content="<%= ogTitle %>" />
<meta property="og:description" content="<%= ogDescription %>" />
<meta property="og:image" content="<%= ogImage %>" />