<% if (totalPage > 1) { %>
<div class="row" style="overflow-x: auto; overflow-y: hidden;">
    <nav aria-label="Page navigation" class="mt-3 justify-content-center" style="width: auto; max-width: 500px; margin-left: auto; margin-right: auto;">
        <ul class="pagination">
        <% if (page > 1) { %>
        <li class="page-item">
            <a class="page-link" href="<%= path %>&page=1">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% } %>
        <% var i = 1;
        if (page > 5) {
            i = +page - 3;
        } %>
        <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        <% } %>
        <% for (i; i<=totalPage; i++) { %>
            <% if (page == i) { %>
                <li class="page-item active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
                <li class="page-item"><a class="page-link" href="<%= path %>&page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == (+page + 3)) { %>
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <% break; } %>
        <% } %>
        <% if (page != totalPage) { %>
            <li class="page-item">
            <a class="page-link" href="<%= path %>&page=<%= totalPage %>">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        <% } %>
        </ul>
    </nav>
</div>
<% } %>